/*******************
 Breadcrumb and page title
*******************/

.page-titles {
    padding: 15px 30px;
    background: $white;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    .text-themecolor {
        color: $info;
    }
    .breadcrumb {
        padding: 0;
        margin: 0;
        background: transparent;
        font-size: 14px;
        .breadcrumb-item+.breadcrumb-item::before {
            content: "\e649";
            font-family: themify;
            color: $gray-400;
            font-size: 11px;
        }
    }
}
